<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>

<div class="mianbody text-center">
  <div class="container">
    <h2>Circular Motion</h2>
    <br>
    <p>A bob when rotated along a fixed distance form a fixed point in a uniform speed casts a projection along the Y-Axis.
      This projection when plotted on a graph forms a Sine-Wave. At all instances, the object is moving tangent to the circle.
      Since the direction of the velocity vector is the same as the direction of the object's motion,
      the velocity vector is directed tangent to the circle as well.
    <br>
    <img alt="UCM" height="220" src="/assets/ucm.gif" style="float:center;" width="220">
    <br>
    <p>This application simulates the UCM with user-interaction.
    <br>
    <p><a href="intent://openandroidapplication.herokuapp.com#Intent;scheme=http;package=com.pradumnkmahanta.motion;end">Proceed to the Application...</a></p>
  </div>
</div>

<div class="container">
  <div id="bottom-message" class="alert alert-info text-center" role="alert">
    To look at the source code of this application, head over to my <a href="https://github.com/pradumnk-mahanta/node_js-OpenAndroidApplication" class="alert-link">Github Profile</a>.
  </div>
</div>
</body>
</html>
