<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>

<div class="mianbody text-center">
  <div class="container">
    <h2>Open Applications</h2>
    <p><a href="intent://openandroidapplication.herokuapp.com#Intent;scheme=http;package=com.pradumnkmahanta.oscillationmotion;end">Circular Motion</a></p>
    <p><a href="intent://openandroidapplication.herokuapp.com#Intent;scheme=http;package=com.scorpio.wavefilegenerator;end">Wave File Generator</a></p>
  </div>
</div>

<div class="container">
  <div id="bottom-message" class="alert alert-info text-center" role="alert">
    To look at the source code of this application, head over to my <a href="https://github.com/pradumnk-mahanta/node_js-OpenAndroidApplication" class="alert-link">Github Profile</a>.
  </div>
</div>
</body>
</html>
