<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>

<div class="mianbody text-center">
  <div class="container">
    <h2>Oscillation Motion</h2>
    <br>
    <p>Oscillation is the repetitive variation, typically in time, of some measure about a central value (often a point of equilibrium)
      or between two or more different states.
	<br>
    <img alt="UCM" height="220" src="/assets/ocm.gif" style="float:center;" width="220">
    <br>
    <p>This application simulates the Oscillation Motion with user-interaction.
    <br>
    <p><a href="intent://openandroidapplication.herokuapp.com#Intent;scheme=http;package=com.pradumnkmahanta.oscillationmotion;end">Proceed to the Application.</a></p>
  </div>
</div>

</body>
</html>
